{% extends 'ptps/base.html' %} {% load static %} {% block content %}
<!--Load Tailwind-->
{% load tailwind_filters %}
<div>
	<div class="-m-6 lg:m-6">
		<div class="mb-5 grid grid-cols-1 gap-5">
			<div class="panel">
				<div class="mb-5 flex items-center justify-between">
					<h5 class="text-lg font-semibold dark:text-white-light">Profile</h5>
					{% comment %}
					<a
						href="{% url 'ptps:PengaturanView' %}"
						class="btn btn-primary rounded-full p-2 ltr:ml-auto rtl:mr-auto">
						<svg
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							xmlns="http://www.w3.org/2000/svg"
							class="h-5 w-5">
							<path
								opacity="0.5"
								d="M4 22H20"
								stroke="currentColor"
								stroke-width="1.5"
								stroke-linecap="round" />
							<path
								d="M14.6296 2.92142L13.8881 3.66293L7.07106 10.4799C6.60933 10.9416 6.37846 11.1725 6.17992 11.4271C5.94571 11.7273 5.74491 12.0522 5.58107 12.396C5.44219 12.6874 5.33894 12.9972 5.13245 13.6167L4.25745 16.2417L4.04356 16.8833C3.94194 17.1882 4.02128 17.5243 4.2485 17.7515C4.47573 17.9787 4.81182 18.0581 5.11667 17.9564L5.75834 17.7426L8.38334 16.8675L8.3834 16.8675C9.00284 16.6611 9.31256 16.5578 9.60398 16.4189C9.94775 16.2551 10.2727 16.0543 10.5729 15.8201C10.8275 15.6215 11.0583 15.3907 11.5201 14.929L11.5201 14.9289L18.3371 8.11195L19.0786 7.37044C20.3071 6.14188 20.3071 4.14999 19.0786 2.92142C17.85 1.69286 15.8581 1.69286 14.6296 2.92142Z"
								stroke="currentColor"
								stroke-width="1.5" />
							<path
								opacity="0.5"
								d="M13.8879 3.66406C13.8879 3.66406 13.9806 5.23976 15.3709 6.63008C16.7613 8.0204 18.337 8.11308 18.337 8.11308M5.75821 17.7437L4.25732 16.2428"
								stroke="currentColor"
								stroke-width="1.5" />
						</svg>
					</a>
					{% endcomment %}
				</div>
				<div class="mb-5">
					<div class="flex flex-col items-center justify-center">
						{% if user.profile.avatar %}
						<img
							src="{% static 'images/profile-34.jpeg' %}"
							alt="image"
							class="mb-5 h-24 w-24 rounded-full object-cover" />

						{% else %}
						<img
							class="mb-5 h-24 w-24 rounded-full object-cover"
							src="https://ui-avatars.com/api/?name={{ user.fullname|urlencode }}&background=random"
							alt="user" />
						{% endif %}
						<p class="text-xl font-semibold text-primary">{{user.fullname}}</p>
					</div>
					<div class="mt-5">
						<table
							class="w-full border-collapse border border-gray-200 bg-white text-left text-sm text-gray-500">
							<tbody class="divide-y divide-gray-100 border-t border-gray-100">
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Nama Pengawas
									</th>
									<td class="px-6 py-4">{{user.fullname}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Status Cuaca
									</th>
									<td class="px-6 py-4">{{whether.get_status_display}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Status Mulai
									</th>
									<td class="px-6 py-4">
										{% if end.end_date %} Berakhir {% else %}
										<!-- Jika Statusnya -->
										{% if start.start_date%} Mulai {% else %} Belum Mulai
										<!-- Jika Statusnya -->
										{% endif %} {%endif %}
									</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Status Selesai
									</th>
									<td class="px-6 py-4">
										{% if end.end_date %} Berakhir {% else %} Belum Selesai
										{%endif %}
									</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div class="mt-5">
						<h2 class="mb-1 text-xl font-bold">Profile</h2>
						<table
							class="w-full border-collapse border border-gray-200 bg-white text-left text-sm text-gray-500">
							<tbody class="divide-y divide-gray-100 border-t border-gray-100">
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Jenis Kelamin
									</th>
									<td class="px-6 py-4">{{user.profile.get_jk_display}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Alamat Lengkap
									</th>
									<td class="px-6 py-4">{{user.profile.alamat}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">RT / RW</th>
									<td class="px-6 py-4">
										{{user.profile.rt}} / {{user.profile.rw}}
									</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">No Hp</th>
									<td class="px-6 py-4">{{user.profile.wa}}</td>
								</tr>
							</tbody>
						</table>
					</div>
					<div class="mt-5">
						<h2 class="mb-1 text-xl font-bold">Wilayah Pengawasan</h2>
						<table
							class="w-full border-collapse border border-gray-200 bg-white text-left text-sm text-gray-500">
							<tbody class="divide-y divide-gray-100 border-t border-gray-100">
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">Provinsi</th>
									<td class="px-6 py-4">{{user.userpengawastps.provinsi}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Kabupaten / Kota
									</th>
									<td class="px-6 py-4">{{user.userpengawastps.kabkota}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">Kecamatan</th>
									<td class="px-6 py-4">{{user.userpengawastps.kecamatan}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">
										Kelurahan/Desa
									</th>
									<td class="px-6 py-4">{{user.userpengawastps.keldesa}}</td>
								</tr>
								<tr>
									<th class="px-6 py-4 font-medium text-gray-900">No TPS</th>
									<td class="px-6 py-4">{{user.userpengawastps.tps}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
