{% load static %}
<meta charset="UTF-8" />
<meta name="author" content="AMRGI" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
	name="description"
	content="Aplikasi Pengawasan Pemilu memudahkan pemantauan TPS" />
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
<title>
	{% if title_page != null %}{{ title_page }} |{% endif %} Panwaslu Kecamatan
	Klari - Bersama Rakyat Awasi Pemilu Bersama Bawaslu Tegakkan Keadilan Pemilu
</title>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
	href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap"
	rel="stylesheet" />
