.input-perolehan {
	border: none;
	text-align: center;
}
/* Gaya CSS untuk menghilangkan tanda panah pada input bertipe number */
input[type="number"] {
	-moz-appearance: textfield; /* Firefox */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.not-padding {
	padding: -1rem !important;
}
